<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AppCenter-Config.plist
   InflationCalc

   Created by Eduardo Rosas on 9/4/19.
   Copyright (c) 2019 Facebook. All rights reserved.
-->
<plist version="1.0">
    <dict>
      <key>AppSecret</key>
      <string>53dfdb66-6cc4-4bfe-a479-93f55d95eecb</string>
    </dict>
</plist>
